# Expo
.expo/
dist/
web-build/

# Node
node_modules/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# iOS
ios/

# Android
android/

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
